# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np

In [6]:
country=np.arange(1,101)
random_population=np.random.randint(10000,100000000,size=100)
data = {'國家':country ,
        '人口':random_population }
data = pd.DataFrame(data)
data

     國家        人口
0     1  33918806
1     2  67161692
2     3  81510824
3     4   3241840
4     5  37069861
5     6  10505812
6     7  93240186
7     8  12466098
8     9  18014893
9    10  23487301
10   11  30935408
11   12  79337761
12   13  25838124
13   14   2740222
14   15  50423840
15   16  13426600
16   17  43292903
17   18  13158425
18   19  86438429
19   20  11783575
20   21  89786575
21   22   3135030
22   23  92264398
23   24  63608347
24   25  80264159
25   26  24318293
26   27  34547454
27   28  94194534
28   29  23055648
29   30  44290663
..  ...       ...
70   71  47236367
71   72  66038411
72   73  30441262
73   74  45794229
74   75  93317092
75   76  87095255
76   77   7198016
77   78  54256960
78   79  93914417
79   80  67887889
80   81   5697807
81   82  94246127
82   83  74322444
83   84  98073288
84   85  90822292
85   86  68384213
86   87  29395867
87   88  55365497
88   89   1828264
89   90  55764920
90   91  29685221
91   92  87975745
92   93  34272495
93   94  47068933
94   95  37777809
95   96  99777464
96   97  58212165
97   98  12675877
98   99   5120731
99  100  48756127

[100 rows x 2 columns]

In [11]:
data.loc[data['人口'].idxmax()]

國家          96
人口    99777464
Name: 95, dtype: int32